<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>community</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/community.css"/>
    <script src="js/jquery-3.6.0.js"></script>
    <script src="js/bootstrap.min.js" type="application/javascript"></script>

</head>
<script type="application/javascript">
    window.onload=function (){
        let login = window.localStorage.getItem("closabel");
        if(login=="true"){
            window.close();
            window.localStorage.removeItem("closabel");
        }
    }
</script>
<body>
<div th:insert="~{ navigation :: nav}"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> 发现</h2>
            <hr>
            <div class="media" th:each="questions : ${paginationDTO.data}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded localImg" th:src="${questions.user.avatarUrl}">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading" ><a th:href="'/question/'+${questions.id}" th:text="${questions.title}"></a></h4>
                    <span class="text-desc"><span th:text="${questions.commentCount}"></span> 个回复 • <span
                            th:text="${questions.viewCount}"></span> 次浏览 • <span
                            th:text="${#dates.format(questions.gmtCreate,'yyyy-MM-dd HH:mm')}"></span></span>
                </div>
            </div>
            <!--分页-->
            <nav aria-label="Page navigation" style="float:right;" th:if="${paginationDTO.pageSum > 1}">
                <ul class="pagination">
                    <li th:if="${paginationDTO.showFirstPage}">
                        <a th:href="@{/(page=${1},size=${size},search=${search})}" aria-label="Previous">
                            <span aria-hidden="true"><<</span>
                        </a>
                    </li>
                    <li th:if="${paginationDTO.showLastPage}">
                        <a th:href="@{/(page=${paginationDTO.page-1},size=${size},search=${search})}"
                           aria-label="Previous">
                            <span aria-hidden="true"><</span>
                        </a>
                    </li>
                    <li th:each="i : ${paginationDTO.pages}"
                        th:classappend="${i == paginationDTO.page} ? 'active' : '' ">
                        <a th:href="@{/(page=${i},size=${size},search=${search})}" th:text="${i}" class="active"></a>
                    </li>
                    <li th:if="${paginationDTO.showNextPage}">
                        <a th:href="@{/(page=${paginationDTO.page+1},size=${size},search=${search})}"
                           aria-label="Previous">
                            <span aria-hidden="true">></span>
                        </a>
                    </li>
                    <li th:if="${paginationDTO.showEndPage}">
                        <a th:href="@{/(page=${paginationDTO.pageSum},size=${size},search=${search})}" aria-label="Next">
                            <span aria-hidden="true">>></span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>
<!--        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">-->
<!--            <h3>热门标签</h3>-->
<!--        </div>-->
    </div>
</div>

</body>
</html>